[Desktop Entry]
Type=Application
Name=Knot
Exec=env QT_IM_MODULE=fcitx5 GTK_IM_MODULE=fcitx5 XMODIFIERS=@im=fcitx5 Knot --wayland
Icon=icon
Comment=Knot (Wayland Mode)
Categories=Application;
Terminal=true
DBusActivatable=true