
body {
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 1%;
	margin-right: 1%;
	line-height:130%;
	text-align: justify;
}

div {
	margin:0px;
	padding:0px;
	line-height:130%;
	text-align: justify;
	
}

p {
	text-align: justify;
	text-indent: 40px;
	line-height:130%;

}

.cover {
	width:100%;
	padding:0px;
}

.center {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}

.left {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}

.right {
	text-align: right;
	margin-left: 0%;
	margin-right: 0%;
}

.quote {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 1em;
	margin-right: 1em;
	text-align: justify;
	
}

h1 {
	line-height:130%;
	text-align: center;
	font-weight:bold;
	font-size:xx-large;
}

h2 {
	line-height:130%;
	text-align: center;
	font-weight:bold;
	font-size:x-large;
}

h3 {
	background-color:#000;
	padding-top:23%;
	padding-bottom:1em;
	padding-left:0.35em;	
	padding-right:0.2em;
	margin-bottom:5%;
    font-size: 1.1em;
    color:red;
	text-shadow:-1px -1px 1px #fff;
	
	width:5em;
}

h4 {
	line-height:130%;
	text-align: center;
	font-weight:bold;
	font-size:medium;
}

h5 {
	line-height:130%;
	text-align: center;
	font-weight:bold;
	font-size:small;
}

h6 {
	line-height:130%;
	text-align: center;
	font-weight:bold;
	font-size:x-small;
}

.xf {
	margin:5% 0 5% 0;
	padding:0.5em;
	text-align:left;
	border:1px red dotted;
    
}

.dsx {
	font-size: 1.1em;
	margin:-0.45em;
	padding:0.15em;
	color:white;
	text-align:center;
	background-color:#9fc000;
    
    }