name: Android
on: 
  push:
    paths:
      - '*.pro'
      - 'src/**'
      - '.github/workflows/android.yml'
  pull_request:
    paths:
      - '*.pro'
      - 'src/**'
      - '.github/workflows/android.yml'  
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          #- qt_ver: 5.12.10
          #  qt_arch: android_x86
          #  os: ubuntu-20.04
          #  qt_target: android
          #- qt_ver: 5.12.10
          #  qt_arch: android_armv7
          #  os: ubuntu-20.04
          #  qt_target: android            
          - qt_ver: 5.15.2
            qt_arch: android_arm64_v8a
            os: ubuntu-20.04
            qt_target: android            
          #- qt_ver: 5.15.2
            # here no qt_arch, use default
          #  os: ubuntu-20.04
          #  qt_target: android            
    steps:
           
               
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        
        with:
          host: linux
          version: 5.15.2
          target: android
          modules: qtcharts qtwebengine
          arch: android_arm64_v8a
          
       
      - name: set up JDK
        uses: actions/setup-java@v1
        with:
            java-version: 11.0.3

      #- name: Grant Permission to Execute
      #  run: chmod +x android/gradlew
          
          
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: build android
        run: |
          export ANDROID_SDK_ROOT=$ANDROID_HOME
          export ANDROID_NDK_ROOT=$ANDROID_HOME
          qmake
          make
